@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");



#navBar {
    background-color: rgb(135, 223, 131);
    height: 50px;
    width: 100%;
}

.navList ul {
    width: fit-content;
    height: 30px;
    position: relative;
    left: 23%;
    top: 9px;
    display: flex;
    column-gap: 40px;
    align-items: center;
    padding: 0%;
}



.navLink {
    font-size: large;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(44, 44, 44);
    padding: 0;
}

.navLink:hover {
    background-color: rgb(97, 82, 238);
    height: 100%;
    margin: 5px 0px;
    cursor: pointer;
}