.tutNav {
    width: 100%;
    position: fixed;
    top: 80px;
    z-index: 1;

}

.tutData {
    height: 40px;
    list-style: none;
    display: flex;
    text-align: center;
    column-gap: 20px;
    padding-top: 8px;
    background-color: rgb(77, 85, 92);

    color: azure;

}